/java-packed-license-file/
/java-packed-license-included-pom/
/java-packed-license-manifest/
/java-packed-license-none/
/java-packed-with-inner-license-file/
/java-packed-with-inner-license-included-pom/
/java-packed-with-inner-license-manifest/
/java-packed-with-inner-license-none/
